<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>算法比较</title>
    <!-- 引入jQuery -->
    <script src="./src/JavaScript/jquery.min.js"></script>

    <!-- 引入echart -->
    <script src="../plugin/echarts/echarts.min.js"></script>
    
    <!-- 引入layui -->
    <script src="./plugin/layui-v2.5.5/layui/layui.js"></script>
    <link rel="stylesheet" href="./plugin/layui-v2.5.5/layui/css/layui.css" media="all">
</head>
<body style="margin: 0px;padding:0px;overflow: hidden;">
    <div id="title" style="position:absolute;width:100%;height:120px;border-bottom:1px solid rgb(0, 238, 255);text-align: center">
        <img src="../../images/logo1.jpg" style="position:absolute;left: 0px;width: 10%;min-width:160px;margin: 36px 0 0 0;">
        <img src="../../images/logo2.jpg" style="position:absolute;left: 11%;width: 9%;min-width:160px;margin: 36px 0 0 0;">
        <span style="line-height: 120px;font-size: 32px;">GPU-Accelerated Alogrithm for Linear Systems</span>
    </div>
    <div id="left-nav" style="position: absolute;width:20%;min-width: 360px;;height:860px;margin-top: 120px;border-right: 1px solid rgb(0, 247, 255);">
        <div class="layui-tab layui-tab-brief" lay-fliter="tabbrief">
            <ul class="layui-tab-title">
                <li class="layui-this">Steady State Iteration</li>
                <li>Conjugate Gradient</li>
            </ul>
            <div id="exename" class="layui-tab-content" style="height: 100px;">
                <div class="layui-tab-item layui-show" style="margin-top: 15px;">
                    <div class="layui-form layui-input-block" style="margin-left: 0px;">
                        <input type="checkbox" id="Jacobi" name="Jacobi" value="Jacobi" title="Jacobi" lay-skin="primary" disabled="" checked>
                    </div>
                    <div class="layui-form layui-input-block" style="margin-left: 0px;">
                        <input type="checkbox" id="JacobiGpu" name="JacobiGpu" value="JacobiGpu" title="JacobiGpu" lay-skin="primary" disabled="">
                    </div>
                    <div class="layui-form layui-input-block" style="margin-left: 0px;">
                        <input type="checkbox" id="Gauss_Seidal" name="Gauss_Seidal" value="Gauss_Seidal" title="Gauss_Seidal" lay-skin="primary" disabled="">
                    </div>
                    <div class="layui-form layui-input-block" style="margin-left: 0px;">
                        <input type="checkbox" id="SOR" name="SOR" value="SOR" title="SOR" lay-skin="primary" disabled="" lay-filter="sor">
                        <input id="sorparams" placeholder="0~2" lay-skin="primary" class="layui-input" style="position: absolute;width: 100px;height:24px;margin: -20px 0 0 100px;">
                    </div>
                </div>
                <div class="layui-tab-item" style="margin-top: 15px;">
                    <div class="layui-form layui-input-block" style="margin-left: 0px;">
                        <input type="checkbox" id="CGCpu" name="CGCpu" value="CGCpu" title="CGCpu" lay-skin="primary" disabled="">
                    </div>
                    <div class="layui-form layui-input-block" style="margin-left: 0px;">
                        <input type="checkbox" id="ConjugateGradientGpu" name="ConjugateGradientGpu" value="ConjugateGradientGpu" title="ConjugateGradientGpu" lay-skin="primary" disabled="">
                    </div>
                </div>
            </div>
        </div>
        <div id="base_params" class="layui-card" style="margin-top:40px;">
            <div class="layui-card-header" style="border-top: 1px solid rgb(197, 197, 197);">Parameters Setting</div>
            <div class="layui-card-body">
                <div class="layui-form layui-form-item">
                    <label class="layui-form-label" style="margin-left:-16px;">Dimensions(int):</label>
                    <input type="text" name="dimensions" id="dimensions" lay-filter="dimensions|required" lay-reqtext="must" value="128" placeholder="512,1024,..." class="layui-input">
                </div>
                <div class="layui-form layui-form-item">
                    <label class="layui-form-label" style="margin-left:-16px;">Matrixfile(txt):</label>
                </div>
                <div class="layui-form layui-input-block" style="width:100%;margin-left: 0px;margin-top: -16px;">
                    <select id="matrixfile" name="matrixfile" lay-filter="matrixfile">
                    </select>
                </div>
                <div class="layui-form layui-form-item" style="margin-top: 16px;">
                    <label class="layui-form-label" style="margin-left:-16px;">Precision(float):</label>
                    <input type="text" name="precision" id="precision" lay-filter="precision|required" lay-reqtext="must" value="0.001" placeholder="0.1,0.01,0.001,...,1*10^-11" class="layui-input">
                </div>
                <div class="layui-form layui-form-item">
                    <label class="layui-form-label" style="margin-left:-16px;">Outputname(txt):</label>
                    <input type="text" name="outputname" id="outputname" lay-filter="outputname|required" lay-reqtext="must" value="sk.txt" placeholder="sk.txt" class="layui-input">
                </div>
                <div>
                    <button type="button" class="layui-btn layui-btn-fluid" id="start">Start</button>
                </div>
            </div>
        </div>
        <div id="base_params" class="layui-card" style="margin-top:30px;">
            <div class="layui-card-header" style="border-top: 1px solid rgb(197, 197, 197);">File Management</div>
            <div class="layui-card-body">
                <div>
                    <button type="button" class="layui-btn layui-btn-primary" id="upload">UploadMatrix</button>
                    <!-- <button type="button" class="layui-btn layui-btn-primary" id="download" style="margin-left: 80px;">DownloadMatrix</button> -->
                </div>
            </div>
        </div>
    </div>
    <div id="picture" style="position:absolute;width: 30%;min-width:400px;height:450px;margin: 150px 0 0 24%;"></div>
    <div id="picture2" style="position:absolute;width: 30%;min-width:400px;height:450px;margin: 150px 0 0 64%;"></div>
    <div id="table" style="position:absolute;width: 70%;min-width:1200px;height:285px;margin: 640px 0 0 24%;"> 
        <table class="layui-hide" id="file" lay-filter="file"></table>
    </div>
    <script type="text/html" id="barDemo">
        <a class="layui-btn layui-btn-xs" lay-event="open">open</a>
        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">delete</a>
    </script>
    <script>
        $.ajax({
            url:'/get_matrix_file',
            method:'get',
            success:function(data){
                var exes = data[1];
                var data = data[0];
                var html = '';
                for(var i=0;i<data.length;i++){
                    if(data[i] === 'matrix_128.txt'){
                        html += '<option value="'+i+'" selected>'+data[i]+'</option>'
                    }
                    else{
                        html += '<option value="'+i+'">'+data[i]+'</option>'
                    }
                }
                $('#matrixfile').append(html);
                for(var i=0;i<exes.length;i++){
                    $('#'+exes[i]).removeAttr('disabled')
                }
            }
        })

        $.ajax({
            url:'/execute_exe',
            method:'get',
            data:{exenames:['Jacobi'],dimension:128,matrixfile:'matrix_128.txt',precision:0.001,outputname:'sk.txt',sorparams:''},
            success:function(data){
                    if(data.code === 1){
                        var exenames = ['Jacobi']
                            // layer.close(index);
                            var iterYdata = [];
                            var picYdatas = [];
                            var x_len = 0;
                            for(var i=0;i<exenames.length;i++){
                                var picYdata = data[exenames[i]].data;
                                var itermsg = data[exenames[i]].msg;
                                var iters = itermsg.split(':')[1]
                                iterYdata.push(iters);
                                picYdata = picYdata.splice(0,picYdata.length-1);
                                picYdatas.push({data:picYdata,type:'line',name:exenames[i]});
                                x_len = x_len > picYdata.length?x_len:picYdata.length
                            }
                            var basedx = '0.';
                            var picXdata = [];
                            for(var i=0;i<x_len;i++){
                                if(i>0){
                                    basedx += '0'
                                }
                                picXdata.push(basedx+'1')
                            }
                            var myChart = echarts.init(document.getElementById('picture'));
                            var myChart2 = echarts.init(document.getElementById('picture2'));
                            var option = {
                                    xAxis: {
                                        name:'acc',
                                        type: 'category',
                                        data: picXdata
                                    },
                                    tooltip: {
                                        trigger: 'axis'
                                    },
                                    toolbox: {
                                        feature: {
                                            saveAsImage: {}
                                        }
                                    },
                                    yAxis: {
                                        name: 'time(ms)',
                                        type: 'value'
                                    },
                                    legend: {data:exenames},
                                    series: picYdatas
                            };
                            var dataShadow = [];

                            for (var i = 0; i < data.length; i++) {
                                dataShadow.push(yMax);
                            }

                            var option2 = {
                                xAxis: {
                                    data: exenames,
                                    axisLabel: {
                                        inside: true,
                                        textStyle: {
                                            color: '#fff'
                                        }
                                    },
                                    axisTick: {
                                        show: false
                                    },
                                    axisLine: {
                                        show: false
                                    },
                                    z: 10
                                },
                                tooltip: {
                                    trigger: 'axis',
                                    axisPointer: {
                                        type: 'shadow'
                                    }
                                },
                                yAxis: {
                                    name:'iters',
                                    axisLine: {
                                        show: false
                                    },
                                    axisTick: {
                                        show: false
                                    },
                                    axisLabel: {
                                        textStyle: {
                                            color: '#999'
                                        }
                                    }
                                },
                                dataZoom: [
                                    {
                                        type: 'inside'
                                    }
                                ],
                                series:[
                                    { // For shadow
                                        type: 'bar',
                                        itemStyle: {
                                            normal: {color: 'rgba(0,0,0,0.05)'}
                                        },
                                        barGap:'-100%',
                                        barCategoryGap:'40%',
                                        data: dataShadow,
                                        animation: false
                                    },
                                    {
                                        type: 'bar',
                                        barWidth: 30,
                                        itemStyle: {
                                            normal: {
                                                color: new echarts.graphic.LinearGradient(
                                                    0, 0, 0, 1,
                                                    [
                                                        {offset: 0, color: '#83bff6'},
                                                        {offset: 0.5, color: '#188df0'},
                                                        {offset: 1, color: '#188df0'}
                                                    ]
                                                )
                                            },
                                            emphasis: {
                                                color: new echarts.graphic.LinearGradient(
                                                    0, 0, 0, 1,
                                                    [
                                                        {offset: 0, color: '#2378f7'},
                                                        {offset: 0.7, color: '#2378f7'},
                                                        {offset: 1, color: '#83bff6'}
                                                    ]
                                                )
                                            }
                                        },
                                        data: iterYdata
                                    }
                                ]
                            }

                            myChart.setOption(option);
                            myChart2.setOption(option2);
                        }
                    }
                })

        layui.use('table',function(){
            var table = layui.table;
  
            table.render({
                elem: '#file'
                ,id:'file'
                ,url:'/get_result_txt'
                ,cols: [[
                    {type:'checkbox'}
                    ,{field:'ID', width:80, title: 'ID', sort: true}
                    ,{field:'FileName',  title: 'FileName'}
                    ,{field:'Modificationdate', width:280, title: 'Modification date', sort: true}
                    ,{field:'Type', width:80, title: 'Type',width:280,}
                    ,{field:'FileSize', title: 'Filesize', minWidth: 100}
                    ,{field:'experience', width:180, toolbar: '#barDemo',title: 'Operate'}
                ]]
                ,page: {
                    layout: ['prev', 'page', 'next','count']
                }
                ,limit: 5
                ,limits:[5,10,15]
                ,height:277
                ,done:function(data){
                    $('.layui-laypage-count').html('SUM '+data.count)
                    // console.log(data)
                }
            });
            table.on('tool(file)', function(obj){
                var data = obj.data;
                if(obj.event === 'del'){
                    layer.confirm('确认删除本条记录吗?', { btn: ['是','否'],btn1:function(index){
                            $.ajax({
                                url:'/delete_file',
                                method:'get',
                                data:data,
                                success:function(data){
                                    if(data.code == 1){
                                        layer.close(index);
                                        table.reload('file')
                                    }
                                }
                            })
                        },
                        btn2: function(){
                            // 取消成功
                            layer.close(index);
                        }
                    });
                }
                else{
                    window.open('http://localhost:3000/asset/result/ConjugateGradientGpu_sk.txt')
                }        
            });
        })

        layui.use(['element','form','upload'],function(req,res,next){
            var element = layui.element;
            var form = layui.form;
            var upload = layui.upload;
            var index1;
            var uploadInst = upload.render({
                elem: '#upload'
                ,url: '/upload'
                ,accept: 'file'
                ,multiple: true
                ,auto: true
                ,choose:function(){
                    index1 = layer.load(2,{shade: [0.8, '#393D49']});
                }
                ,done:function(data){
                    if(data.code == 0){
                        layer.close(index1);
                        location.reload()
                    }
                }
            });
            if($('#SOR')[0].disabled == true){
                $('#SOR').removeAttr('disabled')
            }
            form.on('checkbox(sor)', function(data){
                // var sign = $('#SOR')[0].disabled
                if($('#SOR')[0].disabled == true){
                    $('#SOR').removeAttr('disabled')
                }
                else{
                    $('#SOR')[0].disabled == false
                }
                form.render()
            });  
            $('#start').on('click',function(){
                // 验证复选框
                var exenames = [];
                $('.layui-tab-item, .layui-show input[type="checkbox"]:checked').each(function(){
                    if($(this).val() !== ""){
                        exenames.push($(this).val())
                    }
                });
                if(exenames.length === 0){
                    layer.msg('Please select a method at least', {icon: 5});
                    return false
                }
                // 验证维度
                var dimension = parseInt($('#dimensions').val());
                if(!(dimension && !(dimension & (dimension - 1)))){
                    layer.msg('Dimensions is the power of 2', {icon: 5});
                    return false
                }
                // 验证精度
                var precision = $('#precision').val();
                var precisionVerify = '0.'
                for(var i=2;i<precision.length-1;i++){
                    precisionVerify += "0";
                }
                if(precision===""){
                    layer.msg('Precision is a negative power of 1 * 10', {icon: 5});
                    return false
                }
                else if(!(precision[precision.length-1] === "1" && precision.slice(0,precision.length-1) === precisionVerify)){
                    layer.msg('Precision is a negative power of 1 * 10', {icon: 5});
                    return false
                }
                // 验证输出文件
                var outputname = $('#outputname').val();
                if(outputname==="" || outputname.slice(outputname.length-3,outputname.length)!=='txt'){
                    layer.msg('Outputname is error', {icon: 5});
                    return false
                }

                var matrixfile = $('#matrixfile option:selected').html();
                var formdata = {exenames:exenames,dimension:dimension,matrixfile:matrixfile,precision:precision,outputname:outputname,sorparams:''};
                //验证sor
                var a = isInArray(exenames,'SOR')
                if(a){
                    var sorparams = $('#sorparams').val();
                    if(sorparams<0 || sorparams>2 || sorparams===""){
                        layer.msg('Sorparams is error', {icon: 5});
                    return false
                    }
                    formdata.sorparams = sorparams;
                }
                var index = layer.load(2,{shade: [0.8, '#393D49']});
                $.ajax({
                    url:'/execute_exe',
                    method:'get',
                    data:formdata,
                    success:function(data){
                        console.log(data)
                        if(data.code === 1){
                            layer.close(index);
                            var iterYdata = [];
                            var picYdatas = [];
                            var x_len = 0;
                            for(var i=0;i<exenames.length;i++){
                                var picYdata = data[exenames[i]].data;
                                var itermsg = data[exenames[i]].msg;
                                var iters = itermsg.split(':')[1]
                                iterYdata.push(parseInt(iters));
                                picYdata = picYdata.splice(0,picYdata.length-1);
                                picYdatas.push({data:picYdata,type:'line',name:exenames[i]});
                                x_len = x_len > picYdata.length?x_len:picYdata.length
                            }
                            console.log(iterYdata)
                            var basedx = '0.';
                            var picXdata = [];
                            for(var i=0;i<x_len;i++){
                                if(i>0){
                                    basedx += '0'
                                }
                                picXdata.push(basedx+'1')
                            }
                            var myChart = echarts.init(document.getElementById('picture'));
                            var myChart2 = echarts.init(document.getElementById('picture2'));
                            var option = {
                                    xAxis: {
                                        type: 'category',
                                        data: picXdata
                                    },
                                    tooltip: {
                                        trigger: 'axis'
                                    },
                                    toolbox: {
                                        feature: {
                                            saveAsImage: {}
                                        }
                                    },
                                    yAxis: {
                                        name: '时间(ms)',
                                        type: 'value'
                                    },
                                    legend: {data:exenames},
                                    series: picYdatas
                            };
                            var dataShadow = [];

                            for (var i = 0; i < data.length; i++) {
                                dataShadow.push(yMax);
                            }

                            var option2 = {
                                xAxis: {
                                    data: exenames,
                                    axisLabel: {
                                        inside: true,
                                        textStyle: {
                                            color: '#fff'
                                        }
                                    },
                                    axisTick: {
                                        show: false
                                    },
                                    axisLine: {
                                        show: false
                                    },
                                    z: 10
                                },
                                tooltip: {
                                    trigger: 'axis',
                                    axisPointer: {
                                        type: 'shadow'
                                    }
                                },
                                yAxis: {
                                    axisLine: {
                                        show: false
                                    },
                                    axisTick: {
                                        show: false
                                    },
                                    axisLabel: {
                                        textStyle: {
                                            color: '#999'
                                        }
                                    }
                                },
                                dataZoom: [
                                    {
                                        type: 'inside'
                                    }
                                ],
                                series:[
                                    { // For shadow
                                        type: 'bar',
                                        itemStyle: {
                                            normal: {color: 'rgba(0,0,0,0.05)'}
                                        },
                                        barGap:'-100%',
                                        barCategoryGap:'40%',
                                        data: dataShadow,
                                        animation: false
                                    },
                                    {
                                        type: 'bar',
                                        barWidth: 30,
                                        itemStyle: {
                                            normal: {
                                                color: new echarts.graphic.LinearGradient(
                                                    0, 0, 0, 1,
                                                    [
                                                        {offset: 0, color: '#83bff6'},
                                                        {offset: 0.5, color: '#188df0'},
                                                        {offset: 1, color: '#188df0'}
                                                    ]
                                                )
                                            },
                                            emphasis: {
                                                color: new echarts.graphic.LinearGradient(
                                                    0, 0, 0, 1,
                                                    [
                                                        {offset: 0, color: '#2378f7'},
                                                        {offset: 0.7, color: '#2378f7'},
                                                        {offset: 1, color: '#83bff6'}
                                                    ]
                                                )
                                            }
                                        },
                                        data: iterYdata
                                    }
                                ]
                            }

                            myChart.setOption(option);
                            myChart2.setOption(option2);
                        }
                    }
                })
            })
        })
        function isInArray(arr,value){
            for(var i = 0; i < arr.length; i++){
                if(value === arr[i]){
                    return true;
                }
            }
            return false;
        }
    </script>
</body>
</html>